 /* .bg-light {
    background-color: black!important;
} 
.nav-link {
    color: beige!important
} */ 
.py-1{
    background-color: black!important;
}
.d-md-inline-block{
    color:white
}
/* html{
    background-color: black!important;
} */